<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fact on a date</title>
  </head>
  <body>
    <form action="/submit" method="POST">
      <label for="street">Month:</label>
      <input type="text" name="month" required />
      <label for="day">Day:</label>
      <input type="text" name="day" required />
      <input type="submit" value="Submit" />
    </form>
    <% if (locals.fact) { %>
    <hr />
    <h2>On <%= date %>, in the year <%= year %>:</h2>
    <p><%= fact %></p>
    <% } %>
  </body>
</html>
